* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: cursive;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.landing-page {
  width: 100%;
  height: 100vh;
}
.landing-page > img {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.landing-page .BackGround {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 2% 10%;
}
.landing-page .BackGround .side-bar {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.landing-page .BackGround .side-bar h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
.landing-page .BackGround .side-bar .links {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.landing-page .BackGround .side-bar .links ul {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.landing-page .BackGround .side-bar .links ul li a {
  color: #000;
  text-transform: capitalize;
  font-size: 15px;
}
.landing-page .BackGround .side-bar .links ul li a:hover {
  color: #fff;
  font-size: 18px;
}
.landing-page .BackGround .side-bar .links img {
  width: 10%;
  height: 100%;
  display: none;
}
@media (max-width: 767px) {
  .landing-page .BackGround .side-bar h1 {
    font-size: 20px;
  }
  .landing-page .BackGround .side-bar .links ul {
    display: none;
  }
  .landing-page .BackGround .side-bar .links img {
    display: block;
    width: 30%;
  }
}
.landing-page .BackGround #menu {
  width: 80%;
  height: 40%;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  margin-top: 2%;
  border-radius: 2%;
  visibility: hidden;
}
.landing-page .BackGround #menu ul li {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.landing-page .BackGround #menu ul li:active {
  background-color: #000;
}
.landing-page .BackGround #menu ul li:active a {
  color: #fff;
}
.landing-page .BackGround #menu ul li a {
  text-transform: capitalize;
  color: #000;
}
.landing-page .BackGround .content-landing {
  width: 100%;
  height: 80%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.landing-page .BackGround .content-landing .content {
  position: relative;
  width: 85%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-radius: 10px;
}
.landing-page .BackGround .content-landing .content img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.landing-page .BackGround .content-landing .content .content-content {
  width: 100%;
  height: 100%;
  position: absolute;
}
.landing-page .BackGround .content-landing .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  border-radius: 10px;
}
.landing-page .BackGround .content-landing .icons img {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.landing-page .BackGround .content-landing .icons img:hover {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  color: #fff;
  background-color: #fff;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .landing-page .BackGround .content-landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-page .BackGround .content-landing .content {
    width: 100%;
    height: 80%;
  }
  .landing-page .BackGround .content-landing .icons {
    width: 100%;
    height: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content-content {
  padding: 8% 4%;
}
.content-content .parent {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-content .parent .child1 {
  width: 45%;
  height: 120%;
  background-color: #fff;
  border-radius: 20px;
}
.content-content .parent .child1 h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 4%;
}
.content-content .parent .child1 p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.content-content .parent .child1 > div {
  margin-top: 8%;
  width: 100%;
  height: 60%;
  background-color: #a2afa0;
}
.content-content .parent .child2 {
  width: 50%;
  height: 100%;
}
.content-content .parent .child2 form {
  width: 100%;
  height: 100%;
}
.content-content .parent .child2 form label {
  font-size: 25px;
  text-transform: capitalize;
  color: #fff;
}
.content-content .parent .child2 form input[type=text] {
  width: 100%;
  height: 10%;
  font-family: cursive;
  font-size: 15px;
  padding-left: 5%;
  border-radius: 8px;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
}
.content-content .parent .child2 form input[type=text]::-webkit-input-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=text]::-moz-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=text]:-ms-input-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=text]::-ms-input-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=text]::placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=email] {
  width: 100%;
  height: 10%;
  font-family: cursive;
  font-size: 15px;
  padding-left: 5%;
  border-radius: 8px;
  border: none;
  margin-top: 2%;
  margin-bottom: 2%;
}
.content-content .parent .child2 form input[type=email]::-webkit-input-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=email]::-moz-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=email]:-ms-input-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=email]::-ms-input-placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form input[type=email]::placeholder {
  text-transform: capitalize;
}
.content-content .parent .child2 form textarea {
  width: 100%;
  height: 25%;
  border-radius: 8px;
  border: none;
  padding: 5%;
}
.content-content .parent .child2 form input[type=submit] {
  width: 35%;
  height: 12%;
  border-radius: 8px;
  border: none;
  margin-top: 4%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: cursive;
}
.content-content .parent .child2 form input[type=submit]:hover {
  background-color: sandybrown;
}
@media (max-width: 767px) {
  .content-content .parent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-content .parent .child1 {
    width: 100%;
    height: 40%;
  }
  .content-content .parent .child1 h1 {
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .content-content .parent .child1 p {
    font-size: 12px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .content-content .parent .child1 > div {
    margin-top: 4%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .content-content .parent .child2 {
    width: 100%;
    height: 60%;
  }
  .content-content .parent .child2 form label {
    font-size: 18px;
  }
  .content-content .parent .child2 form input[type=submit] {
    width: 25%;
    font-size: 12px;
  }
}